.gallery-page {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

/* Inputs de título e descrição da galeria */
.gallery-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.gallery-description {
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Container das seções */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

/* Botão para adicionar seção */
.add-section {
  background-color: #004aad;
  color: white;
  font-weight: bold;
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-section:hover {
  opacity: 0.9;
}

/* Botão para salvar tudo */
.save-all {
  background-color: #3cba3c;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.save-all:hover {
  opacity: 0.9;
}

/* Responsividade */
@media (max-width: 768px) {
  .gallery-page {
    padding: 40px 5px;
  }
  .gallery-title {
    font-size: 20px;
    padding: 8px;
  }

  .gallery-description {
    font-size: 14px;
    padding: 8px;
  }

  .add-section,
  .save-all {
    width: 100%;
    margin-bottom: 10px;
  }
}
