.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: var(--cor-secundaria); /* Fundo azul */
  padding: 80px 20px; /* Aumentamos o padding para afastar do Navbar */
}

.contactTitle {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--cor-branca);
  margin-bottom: 15px;
}

.contactContainer p {
  font-size: 1.3rem;
  color: var(--cor-branca);
  margin-bottom: 30px;
}

.contactForm {
  background: var(--cor-branca);
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  width: 450px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contactForm label {
  font-weight: bold;
  text-align: left;
  color: var(--cor-secundaria);
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.contactForm textarea {
  resize: vertical;
  min-height: 120px;
}

.submitButton {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  font-size: 1.2rem;
  padding: 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: opacity 0.3s ease;
  font-weight: bold;
}

.submitButton:hover {
  background-color: var(--cor-complementar);
}

/* Responsividade */
@media (max-width: 768px) {
  .contactContainer {
    padding: 100px 20px; /* Ajuste para telas menores */
  }

  .contactForm {
    width: 100%;
  }
}
