/* Estilização geral */
.homeContainer {
  background: linear-gradient(to bottom, #ffffff, #1e73be); /* Gradiente para suavizar */
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 85vh; /* Melhor altura para encaixar o banner */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--cor-branca);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Melhora contraste do texto */
}

.heroContent {
  position: absolute;
  z-index: 2;
  max-width: 800px;
  text-align: center;
}

.heroContent h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--cor-branca);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.heroContent p {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--cor-branca);
}

/* SEÇÕES */
.secao {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 30px auto;
  background-color: var(--cor-branca);
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.secao:hover {
  transform: translateY(-5px);
}

.secao h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #0073e6;
  margin-bottom: 10px;
}

.secao p {
  font-size: 1.3rem;
  color: var(--cor-texto);
  line-height: 1.8;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero {
    height: 70vh;
  }

  .heroContent h1 {
    font-size: 2.5rem;
  }

  .heroContent p {
    font-size: 1.3rem;
  }

  .secao {
    width: 90%;
  }
}
